h2{
    color:rgb(255, 0, 221);
    size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
img{
    max-width: 400px;
    max-height: 400px;
    text-align: center;
}
p {
    text-align: center;
}